@mixin clearfix {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  
  @mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
            box-shadow: $shadow;
  }