
$color-grey-1: #dfdfdf;
$color-grey-2: #cfcfcf;
$color-grey-3: #595959;
$color-blue: #33b6d1;
$color-blue-1: #b5e3ed;
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #F0CE4A;


$color-blue-1-hover: rgba(181, 227, 237, 0.7);

$font-family-base: 'Roboto', sans-serif;

$gridSpacing: 15px;

$tablet-down: 'screen and (min-width: 767px)';