form {
  margin: 20px;
  width: 50%;
}
fieldset {
  margin: 0;
  border: 1px solid #ccc;
  padding-bottom: 1em;
}
legend {
  font-weight: bold;
  text-transform: uppercase;
}
fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
fieldset ul li {
  padding: 4px 0;
  margin-bottom: 20px;
}
fieldset ul li::after {
  display: table;
  content: "";
  clear: both;
}
label {
  float: left;
  padding-right: 50px;
  font-weight: bold;
  width: 100px;
}
input {
  font: 14px Verdana, sans-serif;
  float: left;
  width: 220px;
  border: 1px solid #ccc;
}
button {
  background: #ccc;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.error {
  clear: left;
  margin-left: 150px;
  color: red;
}
.input-error {
  background: #ccc;
  border: 1px solid red;
}
