* {
  box-sizing: border-box; }

form {
  margin: 20px auto;
  width: 50%; }
  form .search-box {
    position: relative; }
  form input {
    width: 100%;
    margin: 0;
    padding: 15px; }
  form button {
    position: absolute;
    right: 0;
    padding: 17px;
    background-color: #33b6d1;
    color: #fff;
    border: 0;
    top: 0; }

.autocomplete-results {
  border: 1px solid #ccc;
  display: none;
  margin: 0;
  padding: 0; }
  .autocomplete-results li {
    list-style: none;
    padding: 10px 15px; }
  .autocomplete-results a {
    color: #333;
    text-decoration: none; }
  .autocomplete-results .product-count {
    color: #666;
    font-size: 12px;
    float: right; }
