body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #000000; }

.container {
  max-width: 990px;
  margin: 0 auto; }

header {
  padding: 20px 0;
  margin: 0 0 20px;
  border-bottom: 2px solid #dfdfdf; }
  header img {
    width: 80%; }
  header .container:before, header .container:after {
    content: " ";
    display: table; }
  header .container:after {
    clear: both; }
  @media screen and (min-width: 767px) {
    header {
      margin: 0 0 40px; }
      header .navbar-brand {
        float: left; } }

.product-brands h1 {
  color: #33b6d1;
  padding: 10px; }

.product-brands .brand-image {
  padding: 5px 5px;
  display: inline-block;
  width: 30%;
  vertical-align: middle; }
  .product-brands .brand-image img {
    width: 100%; }

@media screen and (min-width: 767px) {
  .product-brands .brands-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .product-brands .brand-image {
    padding: 0 10px;
    width: auto; } }

.product-lists-container {
  margin: 30px 0; }
  .product-lists-container .products-tabs li {
    text-align: center;
    background-color: #b5e3ed;
    padding: 15px;
    cursor: pointer; }
    .product-lists-container .products-tabs li:hover {
      background-color: rgba(181, 227, 237, 0.7); }
    .product-lists-container .products-tabs li.active {
      background-color: transparent;
      border-top: 1px solid #cfcfcf;
      cursor: default; }
      .product-lists-container .products-tabs li.active:hover {
        background-color: transparent; }
    .product-lists-container .products-tabs li > a {
      color: #595959; }
  @media screen and (min-width: 767px) {
    .product-lists-container .products-tabs {
      display: table;
      width: 100%; }
      .product-lists-container .products-tabs li {
        display: table-cell;
        border-left: 1px solid #cfcfcf; } }
  .product-lists-container .products-container {
    border: 1px solid #cfcfcf;
    border-top: 0;
    padding: 10px; }
  @media screen and (min-width: 767px) {
    .product-lists-container .all-products {
      display: flex;
      flex-wrap: wrap; }
      .product-lists-container .all-products li {
        padding: 15px;
        width: calc(100%/4 - (15px * 2)); }
        .product-lists-container .all-products li:hover {
          -webkit-box-shadow: 2px 2px 5px #cfcfcf;
          box-shadow: 2px 2px 5px #cfcfcf; } }
  .product-lists-container .all-products li {
    margin-bottom: 15px;
    position: relative; }
    .product-lists-container .all-products li > a,
    .product-lists-container .all-products li img {
      width: 100%; }
    .product-lists-container .all-products li .product-name {
      padding-bottom: 15px;
      text-transform: capitalize;
      font-size: 16px;
      color: #595959;
      font-weight: bold; }
    .product-lists-container .all-products li .product-seller {
      padding-bottom: 15px;
      font-size: 12px;
      color: #595959; }
    .product-lists-container .all-products li .product-count {
      float: right;
      font-size: 11px;
      color: #595959; }

footer {
  background-color: #33b6d1;
  color: #ffffff; }
  footer .footer-copyright {
    padding: 20px 0; }
